<!-- <h1>this is root</h1>


<app-home></app-home>
<app-employee></app-employee> -->
<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li> <a routerLink="/">Home </a></li>
            <li> <a routerLink="/about">About Us</a></li>
            <li> <a routerLink="/contact">Contact Us</a></li>
            <li> <a routerLink="/emp">Employee</a></li>
            <li> <a routerLink="/list">Employee List</a></li>
            <li> <a routerLink="/reactive-form">Reactive Form</a></li>
            <li> <a routerLink="/user">Users</a></li>
            <li> <a routerLink="/add-user">Add User</a></li>
            <li> <a routerLink="/binding-Demo">binding-Demo</a></li>
            <li> <a routerLink="/classdemo">classdemo</a></li>
            <li> <a routerLink="/edit-user">edit-user</a></li>
        </ul>
    </div>
</nav>
<router-outlet> </router-outlet>